{{#bs-button type="primary" icon="glyphicon glyphicon-remove"}}
  Logout
{{/bs-button}}
<div class="index-page">
  {{user-list users=model}}
  {{card-list cardChosen=(action 'sendCardChosen')}}
</div>
