{{card-list sendBet=(action 'sendBet') cards=cards}}

<div class="column-right">
  {{!-- {{actions-panel onLogout=(action 'logout') onReset=(action 'reset') onReveal=(action 'reveal')}} --}}
  {{user-list
    users=users
    kick=(action 'kick')
    currentUserId=usersState.currentUserId}}
</div>
