<div class="index-page">
  {{card-list onCardSelected=(action 'sendCardChosen')}}
  <div class="column-right">
    {{#bs-button class="logout-btn" click=(action 'logout') type="primary" icon="glyphicon glyphicon-remove"}}
      Logout
    {{/bs-button}}
    {{user-list class="user-list" users=users round=round}}
  </div>
</div>
