<div class="panel user">
  {{#bs-button class="logout-btn" click=(action 'logout') type="primary" icon="glyphicon glyphicon-remove"}}
    Logout
  {{/bs-button}}
</div>

<div class="panel voting">
  {{#bs-button class="logout-btn" click=(action 'logout') type="primary" icon="glyphicon glyphicon-remove"}}
    Reset Voting
  {{/bs-button}}

  {{#bs-button class="logout-btn" click=(action 'logout') type="primary" icon="glyphicon glyphicon-remove"}}
    Reveal Votes
  {{/bs-button}}
</div>