.cards {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}
.card {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
