$color: #131313;
$color-hover: #ff8bfb;
$color-selected: #9eff2f;

& {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 5px solid $color;
  border-radius: 5%;
  color: $color;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    &:not(.selected) {
      border-color: $color-hover;
      color: $color-hover;
    }
  }

  &.selected {
    border-color: $color-selected;
    color: $color-selected;
  }
}
